
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

img{
  width: auto;
  height: auto;
  margin: 0 auto;
  display: block;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1{
  color: blue;
}

.Main-Container{
  width: 1200px;
  height: auto;
  background-color: white;
  max-height: 0 auto;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px #0000001a;
    border-radius: 8px;
    color: #333;
}

.input-group{
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button;
    opacity: 1; /* Ensures the spinner is always visible */
  }
  
  
  display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 8px;
    align-items: flex-end;
    margin-bottom: 20px;
}

input{
  padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.button-group{
  flex-shrink: 0;
  display: flex;
  gap: 10px;
  align-items: end;
}

button{
  background-color: yellow;
  
}

.rank-text{
  display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 8px;
    align-items: flex-end;
    border-radius: 8px;
}

table{
  width:100%
  
}
thead{
  background-color: navy;
  color: white;
  width:100%;
  
}

tbody{
  background-color: grey;
  width:20%;
  
}


th{
  flex: 0 1 auto;
  max-width: 150;
}